/* Local style overrides */

/* Padding fix for assets-frontend/assets/scss/components/_tabular-data.scss */
@media (min-width: 641px) {
    .tabular-data__heading--label {
        width: 50%;
        padding-right: 1em;
    }

    .tabular-data__data-1 {
        width: 40%;
    }
}

.govuk-currency-input__inner {
    position: relative;
}

.govuk-currency-input__inner__unit {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-weight: bold;
}

input.form-control, textarea.form-control {
    -webkit-appearance: none;
    border-radius: 0;
}

.govuk-currency-input__inner__input {
    padding-left: 25px !important;
}
