/* Local style overrides */

/* Padding fix for assets-frontend/assets/scss/components/_tabular-data.scss */
@media (min-width: 641px) {
    .tabular-data__heading--label {
        width: 50%;
        padding-right: 1em;
    }

    .tabular-data__data-1 {
        width: 40%;
        word-break: break-word;
        padding-right: 1em;
    }
}

.govuk-currency-input__inner {
    position: relative;
}

.govuk-currency-input__inner__unit {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-weight: bold;
}

input.form-control, textarea.form-control {
    -webkit-appearance: none;
    border-radius: 0;
}

.govuk-currency-input__inner__input {
    padding-left: 25px !important;
}

.multiple-choice-interrupt {
    padding: 0 0 0 11px;
    display: block;
    float: none;
    clear: left;
    position: relative;
    margin-bottom: 10px;
}

/* Styles for interrupt cards */

.interrupt-card {
    background-color: #005ea5;
    color: #fff;
    padding: 75px 70px;
    margin: 30px 0 0 0;
}

.interrupt-card h1 {
    margin-top: 0;
}

.interrupt-card p, .interrupt-card li, .interrupt-card a {
    font-size: 24px;
}

.interrupt-card a {
    color: inherit;
}

.interrupt-card a:focus {
    color: #0b0c0c;
}

interrupt-card .actions {
    margin: 30px 0 15px;
}

.interrupt-card .actions .button {
    background-color: #fff;
    color: #005ea5;
    font-weight: bold;
}


.interrupt-card .multiple-choice [type=radio]+label::before {
    background-color: #ffffff;
    border-color: #000000;
}

.interrupt-card .multiple-choice [type=radio]+label::after {
    border: 10px solid #000000;
}

.interrupt-card .multiple-choice input[type=radio] {
    -webkit-appearance: none;
    z-index: unset;
    border: none;
    background-color: transparent;
}

.interrupt-card .form-field--error{
    background-color: transparent;
    border-left: 5px solid #ffffff;
    padding-top: 0;
    padding-bottom: 0;
}

.interrupt-card .error-notification {
    font-size: 19px;
    color: #ffffff;
}

@media (max-width: 830px) {
    .interrupt-card .column-two-thirds {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .interrupt-card li, .interrupt-card p, .interrupt-card a {
        font-size: inherit;
    }
}

@media (max-width: 475px) {
    .interrupt-card {
        padding: 20px 10px;
    }
}

.no-details details summary .arrow-closed {
    display: none !important;
}
